<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663544137980-7mk06ld48qfpf21a0ev3nfhbv2ko18ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663544137980-7mk06ld48qfpf21a0ev3nfhbv2ko18ld</string>
	<key>API_KEY</key>
	<string>AIzaSyDthZBO0Zefo7zVIIX7g-b3gLsdI1r2otg</string>
	<key>GCM_SENDER_ID</key>
	<string>663544137980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moby.CatGram</string>
	<key>PROJECT_ID</key>
	<string>catgram-776d9</string>
	<key>STORAGE_BUCKET</key>
	<string>catgram-776d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663544137980:ios:f743d7f3288d1f0c80af79</string>
</dict>
</plist>